$error-message-border-radius: 4px;

.sign-in-box {
  width: 100%;
  max-width: 400px;
  padding: 16px;
  margin: auto;

  .message {
    text-align: left;
    padding-bottom: 16px;
    color: gray;
  }

  .sign-in-button {
    margin: 16px 0px;
  }

  .error-message {
    color: white;
    background-color: #ce3000;
    padding: 16px;
    margin: 16px 0px;
    -webkit-border-radius: $error-message-border-radius;
    -moz-border-radius: $error-message-border-radius;
    border-radius: $error-message-border-radius;
  }
}
