body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

::-webkit-scrollbar-button {
  display: block;
  height: 13px;
  border-radius: 0px;
  background-color: #aaa;
}

::-webkit-scrollbar-button:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background-color: #8080ff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5b5bff;
}

::-webkit-scrollbar-track {
  background-color: #efefef;
}

::-webkit-scrollbar-track:hover {
  background-color: #ccc;
}

::-webkit-scrollbar {
  width: 13px;
}
